# -------------------------------------------------------------------
# Configurações do Banco de Dados (PostgreSQL)
# -------------------------------------------------------------------

# Senha do banco de dados (PostgreSQL)
DATABASE_KEY=""

# Chave da API REST
SUPABASE_URL=""
SUPABASE_KEY=""