# -------------------------------------------------------------------
# Arquivo com todas as chaves, mas com valores vazios ou de exemplo. 
# Para que outros desenvolvedores saibam quais variáveis são necessárias.
# -------------------------------------------------------------------

# -------------------------------------------------------------------
# Configurações do Banco de Dados (PostgreSQL)
# -------------------------------------------------------------------
DB_PASSWORD=""
DATABASE_URL=""

